###
# + Project related
# ==================================================================

# processed assets
app/styles/*.map
app/js/*.map
app/styleguide/markup/modules/colors.html
# inline css styles
app/templates/_main.css

# dist
dist/

# vendor files
app/styles/vendor/**/*
app/js/vendor/**/*


###
# + IDEs / DevEnv
# ==================================================================

# JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
/*.iml
.idea/
.idea_modules/
*.ipr
*.iws

# eclipse pdt
.project

# Dreamweaver
_notes
dwsync.xml

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.sublime-grunt.cache
sftp-config.json

# Jenkins, Vagrant
build/*
.vagrant/

# Node, Bower, Sass
node_modules/
npm-debug.log
bower_components/
.sass-cache/

# = IDEs / DevEnv



###
# + Operating systems
# ==================================================================

# Linux
*~
.directory
.ssh/

# Windows
thumbs.db
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop

# = Operating systems



###
# + Other
# ==================================================================

*.tmp
*.bak
*.swp
*.map

# = Other



###
# + Do not ignore
# ==================================================================

!.gitignore
!.gitkeep

# = Do not ignore