$sg-spacing: 1em;
$sg-color-primary: rgb(232, 234, 246);
$sg-color-link: rgb(65, 65, 65);
$sg-screen-md: 800px;

html {
    touch-action: manipulation;
}
html, body {
    @media (min-width: $sg-screen-md) {
        height: 100%;
        min-height: 100%;
    }
}

.sg {
    font: normal normal normal 16px/1 Helvetica, 'Helvetica Neue', Arial;
    display: flex;
    flex-direction: column;
    //flex-flow: row wrap;
    //align-items: stretch;
    margin: 0;
    padding: 0;
    background: $sg-color-primary;
}

.sg-app {
    @media (min-width: $sg-screen-md) {
        flex: 1;
        display: flex;
        max-height: 100%;
    }
}

.sg-button {
    display: inline-block;
    padding: ($sg-spacing / 2) $sg-spacing;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0;
    background: $sg-color-link;
    color: #fff;
}

.sg-navigation {
    @media (max-width: $sg-screen-md) {
        /*position: absolute;
        top: 0;
        left: -100%;
        width: 360px;
        height: 100%;
        display: block;
        transition: all 0.2s ease;
        overflow: auto;*/
    }

    padding: $sg-spacing;
    border-bottom: 1px solid $sg-color-primary;
    background-color: $sg-color-link;
    color: #fff;

    @media (min-width: $sg-screen-md) {
        flex: 0 0 360px;
        overflow: auto;
    }

    //font-size: 14px;

    [data-tag="1"] > a {
        font-weight: bold;
    }

    &__list {

        padding-left: 0;
        list-style: none;

        a {
            display: inline-block;
            padding: ($sg-spacing / 2);
            color: inherit;
            text-decoration: none;
        }

        .is-active {
            background: red;
        }
    }
}

.sg-content {
    display: flex;
    //align-items: center;
    order: 1;
    flex-direction: column;

    @media (min-width: $sg-screen-md) {
        flex: 1 1 100px;
    }

    overflow: auto;

    padding-left: $sg-spacing;
    padding-right: ($sg-spacing * 2);
    max-width: 100%;
}

.sg__headline {
    margin-bottom: 0;
}

.sg-anchor {
    color: $sg-color-link;
    opacity: 0;
    transition: 300ms ease opacity;

    .sg__headline:hover & {
        opacity: 1;
    }
}

.sg-section {

    margin-bottom: $sg-spacing;

    &__header {
        padding: ($sg-spacing / 2);
        padding-left: 0;
        margin-bottom: ($sg-spacing / 2);
        border-bottom: 1px solid $sg-color-primary;
    }

    &__footer {
        padding: ($sg-spacing / 2);
        padding-left: 0;
        margin-top: ($sg-spacing / 2);
        border-top: 1px solid $sg-color-primary;
    }
}

.sg-card {
    padding: $sg-spacing ($sg-spacing / 2);
    max-width: 800px;
    width: 100%;
    //height: 200px;
    //margin: $sg-spacing auto;
    margin: $sg-spacing 0;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
    overflow: hidden;

    &__headline {
        margin: 0;
    }
}

.sg-code-snippet {
    font-family: "Courier New", Courier, monospace, sans-serif;
    text-align: left;
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: none;

    &--visible {
        display: block;
    }
}

