$btn-color-cta: $color-secondary;
$btn-color-cta--active: map_get($colors, color-definition__red);
$btn-color-cta__text: map_get($colors, color-definition__white);

%btn,
.btn {
    @extend %highlight-font;
    line-height: 1.428571429;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: $spacing-small $spacing-normal;
    user-select: none;
    color: $btn-color-cta__text;
    text-decoration: none;

    &--cta {
        background-color: $btn-color-cta;

        &:hover,
        &.is-active {
            background-color: $btn-color-cta--active;
        }
    }

    &--ghostcta {
        background-color: transparent;
        border-color: inherit;
        color: inherit;
    }
}
